@use '../../variables';

.pageNavContainer {
  z-index: 1;
  position: fixed;
  height: 100%;
  width: 50px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 3%;
  justify-content: center;
  align-items: center;
  // opacity: 0;
  animation: slideInDown;
  animation-duration: 0.5s;
  animation-delay: 2s;
  animation-fill-mode: backwards;
  .pagNavBtn {
    height: 30px;
    width: 30px;
    // border: 4.5px solid variables.$tertiary_75;
    transition: all 0.25s ease-out;
    border-radius: 100%;
    cursor: pointer;
    
    &:hover {
      background-color: variables.$tertiary;
      // border: none;
      border-radius: 100%;
      transform: scale(1.1);
      svg{
        color: variables.$secondary_50;
      }
    }
    
    svg {
      height: fit-content;
      padding: 8px;
    }
  }
  .activeBtn{
    background-color: variables.$tertiary;
    .pageNavIcon{
      color: variables.$secondary_50;
    }
  }
}
