@use '../../variables';
@mixin hideScroll() {
  &::-webkit-scrollbar {
    width: 0 !important;
    background: transparent !important;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.workPage {
  overflow: hidden;
  position: relative;
  .textZone {
    position: absolute;
    left: 7%;
    top: 50%;
    transform: translateY(-50%);
    width: 35%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;
    h1 {
      font-size: 53px;
      font-family: variables.$secondary_font;
      color: variables.$primary;
      font-weight: 400;
      margin-top: 0;
      position: relative;
      margin-bottom: 65px;
      left: 10px;

      &::before {
        content: '<h1>';
        font-family: variables.$quaternary_font;
        color: variables.$primary;
        font-size: 25px;
        opacity: 0.6;
        position: absolute;
        margin-top: -30px;
        line-height: 25px;
        left: -20px;
      }

      &::after {
        content: '</h1>';
        font-family: variables.$quaternary_font;
        color: variables.$primary;
        font-size: 25px;
        line-height: 25px;
        opacity: 0.6;
        position: absolute;
        left: -20px;
        bottom: -30px;
        // margin-left: 20px;
        animation: fadeIn 1s 1.7s backwards;
      }
    }

    p {
      font-size: 15px;
      color: variables.$tertiary;
      font-family: variables.$tertiary_font;
      font-weight: 300;
      min-width: fit-content;
      opacity: 0;
      animation: fadeInDown;
      animation-duration: 1.5s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
      margin-left: 5%;

      &:nth-of-type(1) {
        animation-delay: 1.6s;
      }

      &:nth-of-type(2) {
        animation-delay: 1.7s;
      }

      &:nth-of-type(3) {
        animation-delay: 1.8s;
      }
    }

    .sectionContent {
      &::before {
        content: '<p>';
        font-family: variables.$quaternary_font;
        color: variables.$primary;
        font-size: 25px;
        opacity: 0.6;
        position: absolute;
        margin-top: -30px;
        line-height: 25px;
        left: 7px;
      }

      &::after {
        content: '</p>';
        font-family: 'La Belle Aurore';
        color: variables.$primary;
        font-size: 25px;
        line-height: 25px;
        opacity: 0.6;
        position: absolute;
        left: 7px;
        bottom: -30px;
        /* margin-left: 20px; */
        animation: fadeIn 1s 1.7s backwards;
      }
    }
  }

  .textAnimateHover {
    &:hover {
      color: variables.$tertiary;
    }
  }

  .workScreenContainer {
    display: flex;
    overflow: hidden;
    height: 75%;
    width: 42%;
    position: absolute;
    top: 10%;
    left: 50%;
    border: 12px solid variables.$tertiary;
    border-radius: 40px;
    animation: slideInRight 1s 1s backwards;
    .workScreen {
      background-color: variables.$primary_50;
      overflow-y: scroll;
      height: 100%;
      justify-content: flex-start;
      align-items: center;
      gap: 5px;
      @include hideScroll();
      .workScreenSlider {
        .slick-list {
          height: 90%;
          padding-top: 7%;
          padding-bottom: 2%;
        }
        .workIconContainer {
          .workIconWrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin-bottom: 15px;
            transition: all 0.25s ease-out;
            img {
              border-radius: 10px;
              // height: 100px;
              width: 105px;
            }
            .workIconTitle {
              width: 145px;
              color: variables.$tertiary;
              font-size: 1.3rem;
              text-align: center;
            }
            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }

      .workDetail {
        display: flex;
        position: absolute;
        top: 0;
        animation: slideInRight 1s;
        height: 100%;
        width: 100%;
        font-family: variables.$secondary_font;
        border-radius: 15px;
        overflow: hidden;
        .workDetailTitleWrapper {
          background-color: variables.$primary;
          color: variables.$tertiary;
          font-size: 1.5em;
          width: 35%;
          z-index: 1;
          .workDetailTitle {
            padding-left: 10%;
            padding-right: 10%;
            letter-spacing: 2px;
            font-weight: 300;
          }

          .workDetailSub {
            font-size: 1em;

            .workDetailDateWrapper {
              padding: 5% 10%;
              background-color: variables.$secondary_50;
              font-size: 1em;
              .workDetailDate {
                margin-top: 2.5%;
              }
            }

            .workDetailMentorWrapper {
              padding: 5% 10%;
              .workDetailMentor {
                margin-top: 2.5%;
              }
            }

            .workDetailLinksWrapper {
              padding: 5% 10%;
              // background-color: variables.$secondary_50;
              .workDetailLinkIcon {
                margin-top: 2.5%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                font-size: 1.2em;
                a {
                  margin-right: 10px;
                  color: variables.$secondary;
                  transition: all 0.25s ease-out;
                  &:hover {
                    color: variables.$tertiary;
                  }
                }
              }
            }
          }

          .workDetailClose {
            position: absolute;
            font-size: 1.5em;
            left: 12.5%;
            bottom: 0;
            margin-bottom: 5%;
            color: variables.$tertiary_50;
            transition: all 0.25s ease-out;
            &:hover {
              color: variables.$tertiary;
            }
            input {
              display: none;
            }
          }
        }
        .workDetailBodyWrapper {
          width: 70%;
          img {
            position: absolute;
            left: -27%;
            height: 100%;
          }
          .workDetailBlend {
            background-color: variables.$secondary_95;
            mix-blend-mode: darken;
            width: 100%;
            height: 100%;
          }
          .workDetailBody {
            position: absolute;
            top: 0;
            height: 100%;
            padding: 5%;
            font-family: variables.$tertiary_font;
            color: variables.$tertiary;
            font-size: 1.25em;
            overflow-y: scroll;
            @include hideScroll();
            .workDetailSkillContainer {
              .workDetailSkillHead {
                font-weight: 700;
                margin-bottom: 3%;
              }
              .workDetailSkillBody {
                display: flex;
                flex-wrap: wrap;
                gap: 1%;
                .workDetailSkill {
                  margin: 1%;
                  padding: 2.5%;
                  border: 1px solid variables.$tertiary;
                  border-radius: 15px;
                }
              }
            }

            .workDetailTextContainer {
              margin-top: 5%;
              margin-bottom: 15%;
            }
          }
        }
      }
      .show {
        animation: slideInRight 1s;
      }
      .close {
        animation: slideOutRight 1s forwards;
      }
    }
  }
}

.certPage {
  background-color: variables.$primary_50;
  overflow: hidden;
  position: relative;
  .textZone {
    position: absolute;
    left: 52%;
    top: 50%;
    transform: translateY(-50%);
    width: 35%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;
    h1 {
      font-size: 53px;
      font-family: variables.$secondary_font;
      color: variables.$tertiary;
      font-weight: 400;
      margin-top: 0;
      position: relative;
      margin-bottom: 65px;
      left: 10px;

      &::before {
        content: '<h1>';
        font-family: variables.$quaternary_font;
        color: variables.$tertiary;
        font-size: 25px;
        opacity: 0.6;
        position: absolute;
        margin-top: -30px;
        line-height: 25px;
        left: -20px;
      }

      &::after {
        content: '</h1>';
        font-family: variables.$quaternary_font;
        color: variables.$tertiary;
        font-size: 25px;
        line-height: 25px;
        opacity: 0.6;
        position: absolute;
        left: -20px;
        bottom: -30px;
        // margin-left: 20px;
        animation: fadeIn 1s 1.7s backwards;
      }
    }

    p {
      font-size: 15px;
      color: variables.$tertiary;
      font-family: variables.$tertiary_font;
      font-weight: 300;
      min-width: fit-content;
      opacity: 0;
      animation: fadeInDown;
      animation-duration: 1.5s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
      margin-left: 5%;

      &:nth-of-type(1) {
        animation-delay: 1.6s;
      }

      &:nth-of-type(2) {
        animation-delay: 1.7s;
      }

      &:nth-of-type(3) {
        animation-delay: 1.8s;
      }
    }

    .sectionContent {
      &::before {
        content: '<p>';
        font-family: variables.$quaternary_font;
        color: variables.$tertiary;
        font-size: 25px;
        opacity: 0.6;
        position: absolute;
        margin-top: -30px;
        line-height: 25px;
        left: 7px;
      }

      &::after {
        content: '</p>';
        font-family: 'La Belle Aurore';
        color: variables.$tertiary;
        font-size: 25px;
        line-height: 25px;
        opacity: 0.6;
        position: absolute;
        left: 7px;
        bottom: -30px;
        /* margin-left: 20px; */
        animation: fadeIn 1s 1.7s backwards;
      }
    }
  }

  .textAnimateHover {
    &:hover {
      color: variables.$tertiary;
    }
  }

  .certScreenContainer {
    display: flex;
    overflow: hidden;
    height: 75%;
    width: 42%;
    position: absolute;
    top: 10%;
    margin-left: 50px;
    border: 12px solid variables.$tertiary;
    border-radius: 40px;
    animation: slideInLeft 1s 1 s backwards;
    .certScreen {
      background-color: variables.$secondary;
      overflow-y: scroll;
      width: 100%;
      justify-content: flex-start;
      align-items: center;
      gap: 5px;
      @include hideScroll();
      .certScreenSlider {
        .slick-list {
          height: 90%;
          padding-top: 7%;
          padding-bottom: 2%;
        }
        .certIconContainer {
          .certIconWrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin-bottom: 15px;
            transition: all 0.25s ease-out;
            img {
              border-radius: 10px;
              // height: 100px;
              width: 105px;
            }
            .certIconTitle {
              width: 145px;
              color: variables.$tertiary;
              font-size: 1.3rem;
              text-align: center;
            }
            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }

      .certDetail {
        display: flex;
        position: absolute;
        top: 0;
        animation: slideInLeft 1s;
        height: 100%;
        width: 100%;
        font-family: variables.$secondary_font;
        border-radius: 15px;
        overflow: hidden;
        .certDetailTitleWrapper {
          background-color: variables.$secondary;
          color: variables.$tertiary;
          font-size: 1.5em;
          width: 35%;
          z-index: 1;
          .certDetailTitle {
            padding-left: 10%;
            padding-right: 10%;
            letter-spacing: 2px;
            font-weight: 300;
          }

          .certDetailSub {
            font-size: 1em;

            .certDetailDateWrapper {
              padding: 5% 10%;
              background-color: variables.$primary_50;
              font-size: 1em;
              .certDetailDate {
                margin-top: 2.5%;
              }
            }

            .certDetailOrganizationWrapper {
              padding: 5% 10%;
              .certOrganizationMentor {
                margin-top: 2.5%;
              }
            }

            .certDetailMentorWrapper {
              padding: 5% 10%;
              background-color: variables.$primary_50;
              .certDetailMentor {
                margin-top: 2.5%;
              }
            }

            .certDetailLinksWrapper {
              padding: 5% 10%;
              // background-color: variables.$secondary_50;
              .certDetailLinkIcon {
                margin-top: 2.5%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                font-size: 1.2em;
                a {
                  margin-right: 10px;
                  color: variables.$secondary;
                  transition: all 0.25s ease-out;
                  &:hover {
                    color: variables.$tertiary;
                  }
                }
              }
            }
          }

          .certDetailClose {
            position: absolute;
            font-size: 1.5em;
            left: 12.5%;
            bottom: 0;
            margin-bottom: 5%;
            color: variables.$tertiary_50;
            transition: all 0.25s ease-out;
            &:hover {
              color: variables.$tertiary;
            }
            input {
              display: none;
            }
          }
        }
        .certDetailBodyWrapper {
          width: 70%;
          img {
            position: absolute;
            left: 25%;
            height: 100%;
          }
          .certDetailBlend {
            background-color: variables.$primary_95;
            mix-blend-mode: darken;
            width: 100%;
            height: 100%;
          }
          .certDetailBody {
            position: absolute;
            top: 0;
            height: 100%;
            padding: 5%;
            font-family: variables.$tertiary_font;
            color: variables.$tertiary;
            font-size: 1.25em;
            overflow-y: scroll;
            @include hideScroll();
            .certDetailBodyContent{
              display: flex;
              flex-direction: column;
              position: relative;
              .certDetailInstituteWrapper {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                row-gap: 10%;
                margin-bottom: 3%;
                justify-content: left;
                align-items: center;
                .certInstituteHead {
                  font-weight: 700;
                }
                .certInstitute {
                  // margin-left: 5%;
                }
                a {
                  font-family: variables.$tertiary_font;
                  color: variables.$tertiary;
                  text-decoration: none;
                  margin: 1%;
                  padding: 2.5%;
                  &:hover{
                    background-color: variables.$tertiary;
                    color: variables.$primary_50;
                    margin: 1%;
                    padding: 2.5%;
                    border: 1px solid variables.$tertiary;
                    border-radius: 15px;
                  }
                }
              }
              .certImageWrapper{
                height: 100%;
                img{
                  left: 0;
                  height:250px;
                  margin-top: 25%;
                }
              }
            }
          }
        }
      }
      .show {
        animation: slideInRight 1s;
      }
      .close {
        animation: slideOutRight 1s forwards;
      }
    }
  }
}
