@use '../../variables';

.aboutPage {
  overflow: hidden;
  position: relative;
  .textZone {
    position: absolute;
    left: 7%;
    top: 50%;
    transform: translateY(-50%);
    width: 35%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;
    h1 {
      font-size: 53px;
      font-family: variables.$secondary_font;
      color: variables.$primary;
      font-weight: 400;
      margin-top: 0;
      position: relative;
      margin-bottom: 65px;
      left: 10px;

      &::before {
        content: '<h1>';
        font-family: variables.$quaternary_font;
        color: variables.$primary;
        font-size: 25px;
        opacity: 0.6;
        position: absolute;
        margin-top: -30px;
        line-height: 25px;
        left: -20px;
      }

      &::after {
        content: '</h1>';
        font-family: variables.$quaternary_font;
        color: variables.$primary;
        font-size: 25px;
        line-height: 25px;
        opacity: 0.6;
        position: absolute;
        left: -20px;
        bottom: -30px;
        // margin-left: 20px;
        animation: fadeIn 1s 1.7s backwards;
      }
    }

    p {
      font-size: 15px;
      color: variables.$tertiary;
      font-family: variables.$tertiary_font;
      font-weight: 300;
      min-width: fit-content;
      opacity: 0;
      animation: fadeInDown;
      animation-duration: 1.5s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
      margin-left: 5%;

      &:nth-of-type(1) {
        animation-delay: 1.6s;
      }

      &:nth-of-type(2) {
        animation-delay: 1.7s;
      }

      &:nth-of-type(3) {
        animation-delay: 1.8s;
      }
    }

    .sectionContent {
      &::before {
        content: '<p>';
        font-family: variables.$quaternary_font;
        color: variables.$primary;
        font-size: 25px;
        opacity: 0.6;
        position: absolute;
        margin-top: -30px;
        line-height: 25px;
        left: 7px;
      }

      &::after {
        content: '</p>';
        font-family: 'La Belle Aurore';
        color: variables.$primary;
        font-size: 25px;
        line-height: 25px;
        opacity: 0.6;
        position: absolute;
        left: 7px;
        bottom: -30px;
        /* margin-left: 20px; */
        animation: fadeIn 1s 1.7s backwards;
      }
    }
  }

  .textAnimateHover {
    &:hover {
      color: variables.$tertiary;
    }
  }

  .profileContainer {
    z-index: 0;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 0;
    opacity: 0;
    right: 10%;
    bottom: 12%;
    left: auto;
    margin: auto;

    svg {
      width: 100%;
      height: auto;
      bottom: 0;
      z-index: 1;
      left: 7.5px;
      position: absolute;
      transform: rotateZ(-5deg) !important;
    }

    .profileImage {
      position: absolute;
      top: auto;
      right: auto;
      bottom: auto;
      left: 0;
      margin: auto;
      width: 100%;
      opacity: 0;
      transform: rotateZ(-5deg);
    }
  }

  .profileSvgContainer {
    stroke-width: 15px;
    stroke: variables.$primary;
  }
}

.myHistoryPage {
  overflow: hidden;
  position: relative;
  background-color: variables.$primary_50;
  .textZone {
    position: absolute;
    left: 52%;
    top: 50%;
    transform: translateY(-50%);
    width: 35%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;
    h1 {
      font-size: 53px;
      font-family: variables.$secondary_font;
      color: variables.$tertiary;
      font-weight: 400;
      margin-top: 0;
      position: relative;
      margin-bottom: 65px;
      left: 10px;

      &::before {
        content: '<h1>';
        font-family: variables.$quaternary_font;
        color: variables.$tertiary;
        font-size: 25px;
        opacity: 0.3;
        position: absolute;
        margin-top: -30px;
        line-height: 25px;
        left: -20px;
      }

      &::after {
        content: '</h1>';
        font-family: variables.$quaternary_font;
        color: variables.$tertiary;
        font-size: 25px;
        line-height: 25px;
        opacity: 0.3;
        position: absolute;
        left: -20px;
        bottom: -30px;
        // margin-left: 20px;
        animation: fadeIn 1s 1.7s backwards;
      }
    }
    p {
      font-size: 15px;
      color: variables.$tertiary;
      font-family: variables.$tertiary_font;
      font-weight: 300;
      min-width: fit-content;
      opacity: 0;
      animation: fadeInDown;
      animation-duration: 1.5s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
      margin-left: 5%;

      &:nth-of-type(1) {
        animation-delay: 1.6s;
      }

      &:nth-of-type(2) {
        animation-delay: 1.7s;
      }

      &:nth-of-type(3) {
        animation-delay: 1.8s;
      }
    }

    .sectionContent {
      &::before {
        content: '<p>';
        font-family: variables.$quaternary_font;
        color: variables.$tertiary;
        font-size: 25px;
        opacity: 0.3;
        position: absolute;
        margin-top: -30px;
        line-height: 25px;
        left: 7px;
      }

      &::after {
        content: '</p>';
        font-family: 'La Belle Aurore';
        color: variables.$tertiary;
        font-size: 25px;
        line-height: 25px;
        opacity: 0.3;
        position: absolute;
        left: 7px;
        bottom: -30px;
        /* margin-left: 20px; */
        animation: fadeIn 1s 1.7s backwards;
      }
    }
    .textAnimateHover {
      &:hover {
        color: variables.$primary;
      }
    }
  }

  .historyTimeline {
    height: auto;
    width: 45%;
    margin-top: 10%;
    margin-left: 50px;
  }
}

.skillsPage {
  overflow: hidden;
  position: relative;
  .textZone {
    position: absolute;
    left: 7%;
    top: 50%;
    transform: translateY(-50%);
    width: 35%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;
    h1 {
      font-size: 53px;
      font-family: variables.$secondary_font;
      color: variables.$primary;
      font-weight: 400;
      margin-top: 0;
      position: relative;
      margin-bottom: 65px;
      left: 10px;

      &::before {
        content: '<h1>';
        font-family: variables.$quaternary_font;
        color: variables.$primary;
        font-size: 25px;
        opacity: 0.6;
        position: absolute;
        margin-top: -30px;
        line-height: 25px;
        left: -20px;
      }

      &::after {
        content: '</h1>';
        font-family: variables.$quaternary_font;
        color: variables.$primary;
        font-size: 25px;
        line-height: 25px;
        opacity: 0.6;
        position: absolute;
        left: -20px;
        bottom: -30px;
        // margin-left: 20px;
        animation: fadeIn 1s 1.7s backwards;
      }
    }

    p {
      font-size: 15px;
      color: variables.$tertiary;
      font-family: variables.$tertiary_font;
      font-weight: 300;
      min-width: fit-content;
      opacity: 0;
      animation: fadeInDown;
      animation-duration: 1.5s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
      margin-left: 5%;

      &:nth-of-type(1) {
        animation-delay: 1.6s;
      }

      &:nth-of-type(2) {
        animation-delay: 1.7s;
      }

      &:nth-of-type(3) {
        animation-delay: 1.8s;
      }
    }

    .sectionContent {
      &::before {
        content: '<p>';
        font-family: variables.$quaternary_font;
        color: variables.$primary;
        font-size: 25px;
        opacity: 0.6;
        position: absolute;
        margin-top: -30px;
        line-height: 25px;
        left: 7px;
      }

      &::after {
        content: '</p>';
        font-family: 'La Belle Aurore';
        color: variables.$primary;
        font-size: 25px;
        line-height: 25px;
        opacity: 0.6;
        position: absolute;
        left: 7px;
        bottom: -30px;
        /* margin-left: 20px; */
        animation: fadeIn 1s 1.7s backwards;
      }
    }
  }

  .textAnimateHover {
    &:hover {
      color: variables.$tertiary;
    }
  }
  .skillCarouselContainer {
    width: 600px;
    height: 500px;
    position: absolute;
    top: 10;
    right: 10%;
    bottom: 12%;
    left: auto;
    margin: auto;
    .skillCarousel {
      .slick-track {
        margin-left: -100px;
      }
      .slide {
        background-color: variables.$tertiary;
        height: 500px;
        width: 400px !important;
        border: 2px solid variables.$primary;
        border-radius: 5%;
        transform: scale(0.4);
        transition: transform 300ms;
        opacity: 0.5;
        position: relative;
        z-index: 1;
        .cardContent {
          margin: 5%;
          .cardTitle {
            font-size: 28px;
            color: variables.$secondary;
            font-family: variables.$secondary_font;
            border-bottom: 5px solid variables.$primary;
          }
          .cardBody {
            height: 300px;
            margin: 5%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
            margin-bottom: 10%;
            gap: 5%;
            .skill {
              height: 100px;
              max-width: 100px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              gap: 20px;
              border: 1px solid variables.$secondary;
              border-radius: 10px;
              padding-top: 5px;
              padding-bottom: 5px;
              padding-left: 5px;
              padding-right: 5px;
              box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
                rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
                rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
              .skillImg {
                width: 35%;
              }
              .skillName {
                max-width: 105px;
                text-align: center;
                font-family: variables.$tertiary_font;
                font-size: 15px;
              }
            }
          }
        }
      }
      .activeSlide {
        transform: scale(1);
        opacity: 1;
        position: relative;
        z-index: 2;
      }
    }
  }
}
